h1{
	font-family: Helvetica;
	font-style: bold;
	font-size: 24px;
}
header, main, footer{
	min-width: 855px;
}

body{
	background:#f9e933;
}

header .container, main .container, footer .container{
	max-width:855px;
	margin:auto;
}
header{
	background: white;
}

main{
	background: white;
}