h1{
	font-family: Helvetica;
	font-style: bold;
	font-size: 24px;
}
header, main, footer{
	min-width: 855px;
}

body{
	background:#f9e933;
}

header .container, main .container, footer .container{
	max-width:855px;
	margin:auto;
}
header{
	background: white;
	overflow: auto;
}

header h1{
	float: left;
	width: 570px;
}

header nav{
	float: right;
	width: 285px; /*max-width / 3  */
}

main{
	background: white;
}